server:
  port: 8888

spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/hyeonseokhoon/msa-sample.git
          search-paths: config-repo
          clone-on-start: true
          default-label: main
# 파일 시스템의 config-repo 사용
#        native:
#          search-locations:
#            - file:/app/config-repo

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true