server:
  port: 8888

spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/hyeonseokhoon/msa-sample.git
          search-paths: config-repo
          clone-on-start: true
          default-label: main

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true