server:
  port: 8888

spring:
  application:
    name: config
  cloud:
    config:
      import-check:
        enabled: false
      server:
        native:
          search-locations:
            - file:/app/config-repo  # 파일 시스템의 config-repo 사용
        default-label: main

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true