server:
  port: 8888

spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/hyeonseokhoon/msa-sample.git # github repository
          search-paths: config-repo
          clone-on-start: true
          default-label: main # ?? ???