# 공통 설정 (모든 서비스에서 override)
spring:
  cloud:
    config:
      allow-override: true
      override-system-properties: false
    discovery:
      enabled: true
  main:
    allow-bean-definition-overriding: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka.project.local:8761/eureka/

logging:
  level:
    root: ERROR