server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    config:
      uri: http://config-server:8888
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
  profiles:
    active: default

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka/