server:
  port: 8080

spring:
  application:
    name: gateway

  config:
    import: "optional:configserver:http://localhost:8888"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  #        include: gateway,health,info
  endpoint:
    gateway:
      access: read-only
    health:
      probes:
        enabled: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG