{
    "family": "task-def-__SERVICE__",
    "executionRoleArn": "arn:aws:iam::__ACCOUNT_ID__:role/ecs-execute",
    "networkMode": "awsvpc",
    "requiresCompatibilities": ["FARGATE"],
    "cpu": "1024",
    "memory": "2048",
    "containerDefinitions": [
        {
            "name": "__SERVICE__",
            "image": "__IMAGE_URI__:__IMAGE_TAG__",
            "essential": true,
            "portMappings": [
                {
                    "appProtocol": "http",
                    "containerPort": __PORT__,
                    "hostPort": __PORT__,
                    "name": "__SERVICE__-container-8082-tcp",
                    "protocol": "tcp"
                }
            ],
            "logConfiguration": {
                "logDriver": "awslogs",
                "options": {
                    "awslogs-group": "/ecs/task-def-__SERVICE__",
                    "awslogs-region": "__REGION__",
                    "awslogs-stream-prefix": "ecs",
                    "awslogs-create-group": "true"
                },
                "secretOptions": []
            },
            "environment": [
                {
                    "name": "SPRING_PROFILES_ACTIVE",
                    "value": "production"
                }
            ]
        }
    ],
    "runtimePlatform": {
        "cpuArchitecture": "X86_64",
        "operatingSystemFamily": "LINUX"
    }
}